{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true,
  },
  "rules": {
    "new-cap": [2, { "capIsNewExceptions": [
      "Component",
      "RouteConfig",
      "Input"
    ]}]
  },
  "globals": {
    "browser": true,
    "should": true,
    "Q": true,
    "by": true,
    "element": true
  },
}
